body {
  background: #ffff;
  color: rgba(204, 83, 83, 0.667);
}
.container {
  border: solid;
  display: flex;
  justify-content: center;
}
.row {
  color: rgb(224, 187, 228);
  border: dotted;
}

.card {
  background-color: rgb(149, 125, 173);
}
